<!DOCTYPE html>
<html lang="pl">
<head>
    <!--ViewBags stylów, inicjalizacja przed DOM-->
    <script>var glownynaglowektlo = '@ViewBag.GlownyNaglowekTlo'</script>
    <script>var stronatlo = '@ViewBag.StronaTlo'</script>
    <script>var przyciskikolor = '@ViewBag.PrzyciskiKolor'</script>
    <script>var tresctlo = '@ViewBag.TrescTlo'</script>
    <script>var naglowkikolor = '@ViewBag.NaglowkiTlo'</script>
    <script>var tresckolor = '@ViewBag.TrescKolor'</script>
    <script>var strefaadminakolor = '@ViewBag.StrefaAdminaKolor'</script>
    <!--arkusze stylów-->
    <link rel="icon" href="~/img/layout/favicon.gif">
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/lib/fontawesome/css/all.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/wysiwyg/richtext.min.css">
    <link rel="stylesheet" type="text/css" href="~/lib/datetimepicker/datetimepicker.css">
    <link rel="stylesheet" type="text/css" href="~/lib/weather/weather.css">
    <link rel="stylesheet" type="text/css" href="~/lib/colorpicker/jquery.minicolors.css">
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/calendar/jquery.e-calendar.css">
    <link rel="stylesheet" type="text/css" href="~/lib/cookieBubble/cookieBubble.css">
    <meta charset="utf-8" />
    <title>
        @ViewBag.Title
    </title>
</head>
<body custombackground="stronatlo">
    <!--przycisk logowania admina-->
    <div class="pasekLogowania">
        @if (User?.Identity?.IsAuthenticated ?? false)
        {
            <a asp-controller="Account" asp-action="Logout" class="pasekLogowania" customtextcolor="strefaadminakolor"><strong>@Html.Encode(User.Identity.Name)</strong> Wyloguj</a>
        }
        else
        {
            <a asp-action="Login" asp-controller="Account" class="pasekLogowania" customtextcolor="strefaadminakolor">Strefa Admina</a>
        }
    </div>
    <!--pasek cienia pod nagłówkiem-->
    <div class="pasekCieniaHeader"></div>
    <div class="caloscWidoku">
        <!--nagłówek-->
        <div class="row" customfilter="yes">
            <div class="header col-xs-12 col-sm-12 col-md-5" custombackground="glownynaglowektlo">
                <a style="line-height:60px;" asp-action="Index" asp-controller="Aktualnosci" class="actionLink"><img class="obrazNaglowka" src="~/img/layout/logo.png" /></a>
                <a style="line-height:60px;" asp-action="Index" asp-controller="Aktualnosci" class="actionLink"><img class="obrazNaglowkas" src="~/img/layout/godloilogo.png" /></a>
                <a href="https://dluzyna.mobidziennik.pl/dziennik/" target="_blank" class="p5edziennik col-xs-12" custombackground="przyciskikolor" customtextcolor="tekstnaglowkow" custombordercolor="tresctlo">E - dziennik ></a>
            </div>
            <!-- ZMIANA SZEROKOŚCI bootsrtrap col-md-1 do 12%; ZMIANA bootstrap padding-->
            <!--menu główne-->
            <div class="menuGlowne">
                <div class="przycisk p1 col-xs-3 col-sm-3 col-md-1" custombackground="p1">
                    <div style="line-height:70px;" class="dropdown-toggle" data-toggle="dropdown" customtextcolor="tekstnaglowkow">Start</div>
                    <div class="dropdown col-xs-12">
                        <div custombordercolor="glownynaglowektlo"><a style="line-height:60px;" asp-action="Index" asp-controller="Aktualnosci" class="actionLink"><span class="menuFont" customtextcolor="tekstnaglowkow">Aktualnosci</span></a></div>
                        <div custombordercolor="glownynaglowektlo"><a asp-action="Index" asp-controller="Historia" class="actionLink"><span class="menuFont" customtextcolor="tekstnaglowkow">Historia<br />Szkoły</span></a></div>
                        <div custombordercolor="glownynaglowektlo"><a asp-action="Index" asp-controller="Sukcesy" class="actionLink"><span class="menuFont" customtextcolor="tekstnaglowkow">Nasze<br />sukcesy</span></a></div>
                        <div custombordercolor="glownynaglowektlo"><a style="line-height:60px;" asp-action="Index" asp-controller="Dokumenty" class="actionLink"><span class="menuFont" customtextcolor="tekstnaglowkow">Dokumenty</span></a></div>
                        <div custombordercolor="glownynaglowektlo"><a asp-action="Index" asp-controller="GronoPedagogiczne" class="actionLink"><span class="menuFont" customtextcolor="tekstnaglowkow">Grono<br />pedagogiczne</span></a></div>
                        <div custombordercolor="glownynaglowektlo"><a href="https://1drv.ms/f/s!Ag_5UG3Vnd4HgQ9LGxq3bGfICu_f" target="_blank" class="actionLink"><span class="menuFont" customtextcolor="tekstnaglowkow">Galeria<br />zdjęć</span></a></div>
                        <div custombordercolor="glownynaglowektlo"><a style="line-height:60px;" asp-action="Index" asp-controller="Kontakt" class="actionLink"><span class="menuFont" customtextcolor="tekstnaglowkow">Kontakt</span></a></div>
                    </div>
                </div>
                <div class="przycisk p2 col-xs-3 col-sm-3 col-md-1" custombackground="p2">
                    <div class="dlauczniaBtn" customtextcolor="tekstnaglowkow">Dla<br />ucznia</div>
                    <div class="dropdown" custombordercolor="glownynaglowektlo">
                        <div custombordercolor="glownynaglowektlo"><a asp-action="Index" asp-controller="Samorzad" class="actionLink"><span class="menuFont" customtextcolor="tekstnaglowkow">Samorząd<br />uczniowski</span></a></div>
                        <div custombordercolor="glownynaglowektlo"><a asp-action="Index" asp-controller="ZajeciaDodatkowe" class="actionLink"><span class="menuFont" customtextcolor="tekstnaglowkow">Zajęcia<br />dodatkowe</span></a></div>
                        <div custombordercolor="glownynaglowektlo"><a asp-action="Index" asp-controller="Plan" class="actionLink"><span class="menuFont" customtextcolor="tekstnaglowkow">Plan<br />lekcji</span></a></div>
                        <div custombordercolor="glownynaglowektlo"><a style="line-height:60px;" asp-action="Index" asp-controller="Autobus" class="actionLink"><span class="menuFont" customtextcolor="tekstnaglowkow">Autobus</span></a></div>
                        <div custombordercolor="glownynaglowektlo"><a style="line-height:60px;" asp-action="Index" asp-controller="Konkursy" class="actionLink"><span class="menuFont" customtextcolor="tekstnaglowkow">Konkursy</span></a></div>
                        <div custombordercolor="glownynaglowektlo"><a style="line-height:60px;" asp-action="Index" asp-controller="Biblioteka" class="actionLink"><span class="menuFont" customtextcolor="tekstnaglowkow">Biblioteka</span></a></div>
                        <div custombordercolor="glownynaglowektlo"><a style="line-height:60px;" asp-action="Index" asp-controller="Sport" class="actionLink"><span class="menuFont" customtextcolor="tekstnaglowkow">Sport</span></a></div>
                    </div>
                </div>
                <div class="przycisk p3 col-xs-3 col-sm-3 col-md-1" custombackground="p3">
                    <div class="dlarodzicaBtn" customtextcolor="tekstnaglowkow">Dla<br />rodzica</div>
                    <div class="dropdown" custombordercolor="glownynaglowektlo">
                        <div custombordercolor="glownynaglowektlo"><a asp-action="Index" asp-controller="RadaRodzicow" class="actionLink"><span class="menuFont" customtextcolor="tekstnaglowkow">Rada<br />rodziców</span></a></div>
                        <div custombordercolor="glownynaglowektlo"><a style="line-height:60px;" asp-action="Index" asp-controller="Podreczniki" class="actionLink" customtextcolor="tekstnaglowkow"><span class="menuFont">Podręczniki</span></a></div>
                        <div custombordercolor="glownynaglowektlo"><a asp-action="Index" asp-controller="Wyprawka" class="actionLink"><span class="menuFont" customtextcolor="tekstnaglowkow">Wyprawka<br />przedszkolna</span></a></div>
                        <div custombordercolor="glownynaglowektlo"><a asp-action="Index" asp-controller="Wydarzenia" class="actionLink"><span class="menuFont" customtextcolor="tekstnaglowkow">Kalendarz<br />i zebrania</span></a></div>
                        <div custombordercolor="glownynaglowektlo"><a style="line-height:60px;" asp-action="Index" asp-controller="Rekrutacja" class="actionLink" customtextcolor="tekstnaglowkow"><span class="menuFont">Rekrutacja</span></a></div>
                    </div>
                </div>
                <div class="przycisk p4 col-xs-3 col-sm-3 col-md-1" custombackground="p4">
                    <div class="wartozobaczycBtn" customtextcolor="tekstnaglowkow">Warto<br />zobaczyć</div>
                    <div class="dropdown" custombordercolor="glownynaglowektlo">
                        <div custombordercolor="glownynaglowektlo"><a style="line-height:60px;" href="http://wloszakowice.pl/" class="navBtn btn gmina" target="_blank"></a></div>
                        <div custombordercolor="glownynaglowektlo"><a style="line-height:60px;" href="https://men.gov.pl/" class="navBtn btn men" target="_blank"></a></div>
                        <div custombordercolor="glownynaglowektlo"><a style="line-height:60px;" href="http://www.oke.poznan.pl/" class="navBtn btn oke" target="_blank"></a></div>
                        <div custombordercolor="glownynaglowektlo"><a style="line-height:60px;" href="http://ko.poznan.pl/" class="navBtn btn kuratorium" target="_blank"></a></div>
                        <div custombordercolor="glownynaglowektlo"><a style="line-height:60px;" href="http://www.powiatowapppleszno.pl/" class="navBtn btn poradnia" target="_blank"></a></div>
                        <div custombordercolor="glownynaglowektlo"><a style="line-height:60px;" href="https://efs.men.gov.pl/aktualnosci/1931-informator-o-zawodach-szkolnictwa-zawodowego" class="navBtn btn zawody" target="_blank"></a></div>
                        <div custombordercolor="glownynaglowektlo"><a style="line-height:60px;" href="http://reformaedukacji.men.gov.pl/" class="navBtn btn reforma" target="_blank"></a></div>
                        <div custombordercolor="glownynaglowektlo"><a style="line-height:60px;" href="http://www.koweziu.edu.pl/item/822-rozwijam-skrzyd%aC5%82a-i-jak-pom%C3%B3c-rozwija%C4%87-skrzyd%C5%82a-publikacje-dla-nauczycieli-i-rodzic%C3%BB3w" class="navBtn btn ore" target="_blank"></a></div>
                    </div>
                </div>
            </div>
            <!--godlo-->
            <div class="godloKontener" custombackground="glownynaglowektlo">
                <a style="line-height:60px;" asp-action="Index" asp-controller="Aktualnosci" class="actionLink"><img class="obrazGodla" src="~/img/layout/godlo.png" /></a>
            </div>
            <!--pokaz slajdów-->
            <div class="slideshow"
                 data-slides='["/img/layout/slide1.jpg",
					"/img/layout/slide2.jpg",
					"/img/layout/slide3.jpg",
					"/img/layout/slide4.jpg",
					"/img/layout/slide5.jpg"]'>
            </div>
            <!--panel admina-->
            @if (User?.Identity?.IsAuthenticated ?? false)
            {

                <div class="przyciskiAdmina">
                    <span>Panel administratora: </span>
                    <span><a asp-action="Index" asp-controller="Admin" class="btn btn-primary adminBtn" title="Dodawaj nowych użytkowników">Dodaj/Usuń użytkowników</a></span>
                    <span><a asp-action="Index" asp-controller="RoleAdmin" class="btn btn-primary adminBtn" title="Przydzielaj uprawnienia moderatorów i administratorów">Dodaj/Usuń moderatorów</a></span>
                    <span><a asp-action="Edit" asp-controller="ApplicationDisplay" class="btn btn-primary adminBtn" title="Zmieniaj ustawienia kolorów lub ustaw szatę żałoby">Ustawienia kolorów</a></span>
                </div>
            }
            <!--dodatki i pluginy z prwej strony-->
                <div class="kontenerDodatkiLayout hidden-xs hidden-sm" customfilter="yes">
                    <!--BIP-->
                    <div class="dodatekKontener">
                        <a href="http://bip.wloszakowice.pl/" target="_blank"><img class="bip" src="~/img/layout/bip.png" /></a>
                    </div>
                    <br />
                    <div>
                        <!--zmiana planu-->
                        @if (User?.Identity?.IsAuthenticated ?? false)
                        {
                            <a asp-action="Edit" asp-controller="ZmianaPlanu" class="btn btn-primary">Dodaj/Edytuj komunikat specjalny</a>
                        }
                        <div>@await Component.InvokeAsync(nameof(ZmianaDisplay))</div>
                    </div>
                    <div class="dodatekKontener" style="margin-top: 10px;">
                        <!--kalendarz-->
                        <!--https://www.jqueryscript.net/time-clock/Mini-Event-Calendar-Plugin-jQuery.html-->
                        <div id="calendarr"></div>
                    </div>
                    <!--pogoda-->
                    <!-- https://github.com/monkeecreate/jquery.simpleWeather/issues/308 <--check this out
                        <div class="dodatekKontener" style="margin-top: 30px;">
                            <div class="archiwumHeader" customtextcolor="tekstnaglowkow">
                                Pogoda - Dłużyna, @DateTime.Now.ToShortDateString()
                            </div>
                            <div id="weather" class="weatherColor"></div>
                            <span style="visibility: hidden">test</span>
                        </div>
                        <br />
                        -->
                    <br />
                    <div style="margin-top: 10px;">
                        <!--ostatnie wpisy-->
                        @await Component.InvokeAsync(nameof(AktualnosciArchiwum))
                    </div>
                    <br />
                    <!--solectwo-->
                    <div class="dodatekKontener" style="height: 30px;">
                        <a asp-action="Index" asp-controller="Solectwo" class="dalejButton dalejWpisu col-md-12" style="font-size: 24px;" custombordercolor="tresctlo" customtextcolor="tekstnaglowkow">Sołectwo ></a>
                    </div>
                    <br />
                    <!--stara strona-->
                    <div class="dodatekKontener" style="height: 30px;">
                        <a href="http://dluzyna.pl/index.php" target="_blank" class="dalejButton dalejWpisu col-md-12" style="font-size: 24px;" custombordercolor="tresctlo" customtextcolor="tekstnaglowkow">Stara Strona ></a>
                    </div>
                    <br />
                    <!--info o mnie-->
                    <div class="center myLink" customtextcolor="tresckolor">Design & code: <a href="http://przemyslaw-bak.pl/" target="_blank" customtextcolor="tresckolor">przemyslaw-bak.pl</a></div>
                    <div class="space"></div>
                </div>
        </div>
        <div>
            @RenderBody()
        </div>
    </div>
    <!--SKRYPTY-->
    <script src="~/js/jquery.js"></script>
    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/slide.js"></script>
    <script src="~/js/przyciski.js"></script>
    <script src="~/js/moment.min.js"></script>
    <script src="~/lib/wysiwyg/jquery.richtext.min.js"></script>
    <script src="~/lib/calendar/jquery.e-calendar.js"></script>
    <script src="~/lib/datetimepicker/datetimepicker.js"></script>
    <script src="~/lib/weather/jquery.simpleWeather.js"></script>
    <script src="~/lib/cookieBubble/cookieBubble.js"></script>
    <script src="~/lib/colorpicker/jquery.minicolors.min.js"></script>
    <script src="~/js/plugins.js"></script>
    <script src="~/js/javascript.js"></script>
    <!--komponent kalendarza-->
    @await Component.InvokeAsync(nameof(WydarzeniaKalendarz))
    <script src="~/js/styletriggery.js"></script>
    <!--skrypt pobierania kolorów-->
    <script>
        $('.demo').minicolors();
    </script>
    <!--info o ciasteczkach-->
    <div class="cookieBubble" custombackground="p3">
        <div class="cb-wrapper">
            <div class="cb-row">
                <div class="cb-message">
                    <span customtextcolor="tekstnaglowkow">Szanowny użytkowniku, nasza strona używa ciasteczek jedynie dla sprawnego funkcjonowania jej administracji. Żadne informacje nie są przechowywane, przetwarzane ani nikomu przekazywane. W razie pytań odnośnie polityki prywatności lub ciasteczek proszę o kontakt z administracją szkoły. Życzymy miłego korzystania z naszej strony.</span>
                    <a href="javascript:void(0)" class="gotit-btn" customtextcolor="tekstnaglowkow">OK</a>
                </div>
            </div>
        </div>
    </div>
    <!--stopka-->
    <div class="stopa" custombackground="p3" customtextcolor="tekstnaglowkow">
        @await Component.InvokeAsync(nameof(FootKontakt))
    </div>
</body>

</html>